/*------------------------------------------------------------------NOT MOBILE FIRST----------------------------------------------------------------------- */


.canvas-container  {
    max-width: 20.3vw;
    max-height: 25vh;
    height: 25vh;
    margin: 5px;


}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 20vw;
    left: 140px;
    top: 200.5px;
    margin: auto;
    position: relative;
}



#suchenButtonErweitert {
    position: absolute;
    left: 53vw;
    top: -0.4vw;
    padding-left: 0.7%;
    width: 3.5vw;


}

#operator {
    position: absolute;
    left: 32vw;
    top: 1vw;
    width: 3.5vw;
    height: 2.5vh;
    border-color: black;
    color: var(--text-color-daten);

}

#userdata {
    position: absolute;
    left: 37vw;
    top: 1vw;
    width: 15vw;
    height: 2.5vh;
    border-color: black;
    color: var(--text-color-daten);
}


#optionset-list {
    position: absolute;
}