#mdatentextINFOS1 {
    left: 30.6vw;
    top: 12.5vh;
    position: absolute;
    background-color: var(--background-color-elements);
    color: var(--text-color-daten);
    padding: 0.3vw;
    width: 33vw;
    height: 34vh;
    max-width: 33vw;
    max-height: 35vh;
}

#mdatentextINFOS2 {
    left: 33.6vw;
    top: 0vh;
    position: absolute;
    background-color: var(--background-color-elements);
    color: var(--text-color-daten);
    padding: 0.3vw;
    width: 33vw;
    height: 34vh;
    max-width: 33vw;
    max-height: 35vh;
}

#AllDatenCanvasPICTURE {
    left: 16.5vw;
    top: 13vh;
    width: 12.5vw;
    height: 34vh;
    background: white;
    position: absolute;



}