@media (min-width: 1000px) {
    #uppercanvas {
        width: 98vw;
        height: 11vh;
        background-color: white;
        position: absolute;
        left: 0vw;
        top: 0.5vw;
        border-radius: 10px 10px 10px 0;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        padding: 1vh;


    }

    #suchleistencanvas {
        width: 80vw;
        height: 6vh;
        background-color: white;
        position: absolute;
        left: 16vw;
        top: 7vw;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


    }



    #leftcanvas {
        width: 15vw;
        height: 88vh;
        top: 11.3vh;
        background-color: white;
        position: absolute;
        margin-left: 0%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px 10px;
    }

    .adressbuchbutton {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 0.8em;
        font-weight: 500;
        font-family: inherit;
        color: white;
        background-color: black;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 2vh;
        width: 10vw;

    }

    .adressbuchbutton:active {
        transform: translateY(3px);
    }

    .button-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #labels {
        left: 49vh;
        top: 15vh;
        position: absolute;
        font-size: 1.0em;
        padding: 13vh;
        z-index: 5;

    }

    #labels2 {
        left: 49vh;
        top: 15vh;
        position: absolute;
        font-size: 1.0em;
        padding: 5vh;
        z-index: 5;

    }











    #mdatentext {
    left: 7.6vw;
    position: absolute;
}

    .canvas-container {
        width: 15vw;
        height: 25vh;
        margin: 5px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        position: relative;
        left: 16vw;
        top: 11vw;
    }

    canvas {
        border-radius: 10px;
        position: absolute;
    }


    #mitarbeitertexttitel {
        width: 23vw;
        height: 8vh;
        background-color: white;
        position: absolute;
        left: 8.5vw;
        top: 1vw;
        padding: 1.2vw;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


    }

    #inputfeldauswahl{
        position: absolute;

    }
    .inputfelder {
        display: grid;
        grid-template-columns: auto minmax(auto, 1fr);
        gap: 20px;
        width: 40vw;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

    }


    input {
        width: 100%;
    }

.circles {
    border-radius: 50%;
    width: 60vw;
    height: 90vh;
    background-color: black;
    position: fixed;
    left: 65vw;
    top: 40vw;
    box-shadow: 5px 5px 15px;
    z-index: 3;

}
    .circles2 {
        border-radius: 50%;
        width: 70vw;
        height: 90vh;
        background-color: whitesmoke;
        position: fixed;
        left: 60vw;
        top: 35vw;
        box-shadow: 5px 5px 15px;
        z-index: 2;


    }
    .circles3 {
        border-radius: 50%;
        width: 80vw;
        height: 110vh;
        background-color: white;
        position: fixed;
        left: 55vw;
        top: 30vw;
        box-shadow: 5px 5px 15px;
        z-index: 1;

    }

    #suchleiste{
    width: 30vw;
        border-radius: 10px;
        border-color: Black;
        top: 1.5vh;
        left: 0.5vw;
        position: absolute;



    }

    #treffertext {
        position: absolute;
        left: 31vw;
        top: 0.85vw;
        width: 3.5vw;
        height: 2.5vh;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    #treffertexterweiterte {
        position: absolute;
        left: 61vw;
        top: 0.85vw;
        width: 3.5vw;
        height: 2.5vh;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }


    #operator {
        position: absolute;
        left: 35vw;
        top: 1vw;
        width: 3.5vw;
        height: 2.5vh;
        border-radius: 10px;
        border-color: black;
    }

    #userdata {
        position: absolute;
        left: 43vw;
        top: 1vw;
        width: 15vw;
        height: 2.5vh;
        border-radius: 10px;
        border-color: black;
    }

    .canvas-container img {
        max-width: 100px;
        max-height: 100px;
        display: block;
    }
#datencanvas {
    display: flex;
    flexWrap: wrap;
}

#search-form {
    z-index: 8;
    position: fixed;
    top: 200px;
    left: 500px
}


    #searchID {
        left: 8vw;
        top: 32vw;
        width: 14.5vw;
        position: absolute;
    }

    #BildAdressbuch {
        left: -6vw;
        top: 0.5vw;
        maxWidth: 100px;
        maxHeight: 100px;
        position: absolute;
    }



    input[type="file"] {
        display: none;
    }

#dropdownLAYOUT{
    left: 87vw;
    top: -0.5vh;
    position: absolute;
}
.canvas {
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
}
#editdatencanvasPW {
    width: 35vw;
    height: 20vh;
    left: 18vw;
    top: 65vh;
}

#editdatencanvasPICTURE {
    width: 11vw;
    height: 8.3vh;
    left: 18vw;
    top: 45vh;
    padding: 0.4vw;
}

#showeditPicture {
    width: 7vw;
    height: 15vh;
    left: 18vw;
    top: 20vh;
}

#showeditProfil{
    width: 40vw;
    height: 35vh;
    left: 38vw;
    top: 20vh;
}
#InputFelderEdit1 {
    top: 6vh;
    left: 11vw;
    position: absolute;
    width: 11vw;
}
    #InputFelderEdit2 {
        top: 10vh;
        left: 11vw;
        position: absolute;
        width: 11vw;

    }
#PWresetPOS{
    position: absolute;
    left: 13vw;
}
}