#leftcanvas {
    width: 170%;
    height: 500px;
    background-color: lightgrey;
    margin-left: 10%;
}
.adressbuchbutton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 5px;
    width: 100px;
}

.button-vertical {
    display: flex;
    flex-direction: column;

    align-items: center;
}