@media (max-width: 500px) {
    #uppercanvas {
        width: 97vw;
        height: 11vh;
        background-color: blue;
        position: absolute;
        left: 0.1vw;
        top: 1vw;
        border-radius: 10px  10px  10px 0;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


    }
    #leftcanvas {
        width: 30vw;
        height: 107vh;
        top: 11.3vh;
        background-color: lightgrey;
        position: absolute;
        margin-left: 0%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px  10px ;
    }
    .adressbuchbutton {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 0.8em;
        font-weight: 500;
        font-family: inherit;
        background-color: white;
        cursor: pointer;
        transition: border-color 0.25s;
        margin-top: 2vh;
        width: 80px;

    }
    .button-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #labels {
        left: 18vh;
        top: 10vh;
        padding: 5vh;
        position: absolute;

    }

}

@media (min-width: 501px) {
    #uppercanvas {
        width: 100vw;
        height: 11vh;
        background-color: blue;
        position: absolute;
        left: -6.2vw;
        top: 0.5vw;
        border-radius: 10px  10px  10px 0;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


    }
    #leftcanvas {
        width: 30vw;
        height: 88vh;
        top: 11.3vh;
        background-color: lightgrey;
        position: absolute;
        margin-left: 0%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px  10px ;
    }
    .adressbuchbutton {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 0.8em;
        font-weight: 500;
        font-family: inherit;
        background-color: white;
        cursor: pointer;
        transition: border-color 0.25s;
        margin-top: 2vh;
        width: 80px;

    }
    .button-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #labels {
        left: 20vh;
        top: -3vh;
        padding: 15vh;
        position: absolute;
        font-size: 1.2em;

    }

}

@media (min-width: 1000px) {
    #uppercanvas {
        width: 98vw;
        height: 11vh;
        background-color: white;
        position: absolute;
        left: 0vw;
        top: 0.5vw;
        border-radius: 10px 10px 10px 0;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        padding: 1vh;


    }

    #suchleistencanvas {
        width: 80vw;
        height: 5vh;
        background-color: white;
        position: absolute;
        left: 16vw;
        top: 7vw;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


    }

    #leftcanvas {
        width: 15vw;
        height: 88vh;
        top: 11.3vh;
        background-color: white;
        position: absolute;
        margin-left: 0%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px 10px;
    }

    .adressbuchbutton {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 0.8em;
        font-weight: 500;
        font-family: inherit;
        color: white;
        background-color: black;
        cursor: pointer;
        transition: border-color 0.25s;
        margin-top: 2vh;
        width: 10vw;

    }

    .button-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #labels {
        left: 49vh;
        top: 15vh;
        position: absolute;
        font-size: 1.0em;
        z-index: 5;

    }

    #datencanvas {
        width: 15vw;
        height: 25vh;
        background-color: white;
        position: absolute;
        left: 16vw;
        top: 11vw;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


    }

    #mitarbeitertexttitel {
        width: 23vw;
        height: 8vh;
        background-color: white;
        position: absolute;
        left: 35vw;
        top: 11vw;
        padding: 1.2vw;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


    }

    .inputfelder {
        display: grid;
        grid-template-columns: auto minmax(auto, 1fr);
        gap: 20px;
    }

    input {
        width: 100%;
    }

.circles {
    border-radius: 50%;
    width: 60vw;
    height: 90vh;
    background-color: black;
    position: fixed;
    left: 25vw;
    top: 46vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 3;

}
    .circles2 {
        border-radius: 50%;
        width: 70vw;
        height: 90vh;
        background-color: lightgrey;
        position: fixed;
        left: 20vw;
        top: 40vw;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        z-index: 2;


    }
    .circles3 {
        border-radius: 50%;
        width: 80vw;
        height: 110vh;
        background-color: whitesmoke;
        position: fixed;
        left: 15vw;
        top: 35vw;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        z-index: 1;

    }
}